# Byte-compiled / optimized / DLL files

# Voxelizer Project
Voxelizer/db/
Voxelizer/models/
Voxelizer/output/
Voxelizer/output_colorless/
Voxelizer/target/
Voxelizer/test/
Voxelizer/tree_set/

# Procedural Generation Project
Procedural-Generator/.vscode/
Procedural-Generator/__pycache__/
Procedural-Generator/_temp/
Procedural-Generator/dataset/
Procedural-Generator/logs/
Procedural-Generator/output/
Procedural-Generator/tensordata/

*.png